{% extends 'base.html' %}
{% block content %}


<h3>Preparing</h3>
{% for order in orders %}
    {% if order.status == "ORDER_PREPAREING" %}
        <p>{{order.id}}&nbsp&nbsp&nbsp&nbsp<a href="{{ url_for('make_order') + '?order_id=%d' % order.id }}">make order</a></p>
    {% endif %}
{% endfor %}
<h3>Ready</h3>
{% for order in orders %}
    {% if order.status == "ORDER_READY" %}
        <p>{{order.id}}&nbsp&nbsp&nbsp&nbsp<a href="{{ url_for('delete_order') + '?order_id=%d' % order.id}}">delete order</a></p>
    {% endif %}
{% endfor %}


{% endblock %}
